<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        {% if messages %}
        <div class="row">
            <div class="col-md-8">
                {% for message in messages %}
                {% if message.level_tag == 'success' %}
                    <div class="alert alert-success">{{ message }}</div>
                {% else %}
                    <div class="alert alert-warning">{{ message }}</div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        {% endif %}
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Superlists</a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'my_lists' user.email %}">My lists</a>
        </li>
        {% endif %}
        </ul>
    <div class="d-flex">
        {% if user.is_authenticated %}
        <span class="navbar-text">Logged in as {{ user.email }}</span>
        <form method="POST" action="/accounts/logout">
            {% csrf_token %}
            <button id="id_logout" class="btn btn-dark" type="submit">Log out</button>
        </form>
        {% else %}
        <form method="GET" action="/accounts/login">
            {% csrf_token %}
            <button id="id_login" class="btn btn-dark" type="submit">Log in</button>
        </form>
        {% endif %}
        <form method="GET" action="/accounts/signup">
            {% csrf_token %}    
            <button id="id_signup" class="btn btn-outline-light" type="submit">Sign up</button>
        </form>
        </div>
    </div>
    </div>
</nav>